node_modules/
dist/
.next/
*.tsbuildinfo
.env
.env.local
.env.production
.env.production.local
.env.test
.env.*.local
.turbo
*.log
.DS_Store
.emails/

# Playwright
test-results/
playwright-report/
playwright/.cache/
